$bps: (
    mobileUp: 361px,
    twoCol: 700px,
    tabletUp: 720px,
    desktopUp: 1024px,
    designMax: 1380px
);

$color: (
    white: #FFFFFF,
    black: #000000,
    darkgrey: #777777,
    lightgrey: #9d9d9d,
    lightblue: #b0deed,
    pink: #f79bc0,
    orange: #f4d0ac,
    lightpurple: #c6deff,
    green: #91f9da
);